<!DOCTYPE html>
<html>
<content src="config.xml" />

<head>
    <meta charset="utf-8" />
    <title>Camera app </title>

    <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

    <!-- Camera app references -->
    <link rel="stylesheet" href="css/S4D C88.css">

</head>

<body>
    <h2>Gegroet mede aardling</h2>

    <input id="btnTakePhoto" type="button" value="Take a photo!">

    <p id="lastPhoto"></p>
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>

    <script src="js/S4D C88.js"></script>
</body>

</html>


body {
    color: rgb(248, 239, 239);
    background-color: #59e54c;
}


(function () {
    "use strict";

    document.addEventListener('deviceready', onDeviceReady.bind(this), false);

    function onDeviceReady() {
        document.addEventListener('pause', onPause.bind(this), false);
        document.addEventListener('resume'), onResume.bind(this), false;

        document.getElementById("btnTakePhoto").onclick = function () {
            navigator.camera.getPicture(function (imageUri) {
                var lastPhotoContainer = document.getElementById("lastPhoto");

                alert("mooi!");

                lastPhotoContainer.innerHTML = "<img src'" + imageUri + "' style=width: 75%;' />";
            }, null, null);
        };

    };
    function onPause() {
    };
    function onResume() {
    };
})();
